// app global css in SCSS form
.contenedor{
  background:white;
  background:url(https://picsum.photos/1600/900);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  width: 100vw;
}
.jg-text-9 {
  font-size: 9px;
}
.jg-text-10 {
  font-size: 10px;
}
.jg-text-11 {
  font-size: 11px;
}
.jg-text-12 {
  font-size: 12px;
}
.jg-text-13 {
  font-size: 13px;
}
.jg-text-14 {
  font-size: 14px;
}
.jg-text-15 {
  font-size: 15px;
}
.jg-text-16 {
  font-size: 16px;
}
.jg-text-17 {
  font-size: 17px;
}
.jg-text-18 {
  font-size: 18px;
}
.jg-text-19 {
  font-size: 19px;
}
.jg-text-20 {
  font-size: 20px;
}
.jg-text-21 {
  font-size: 21px;
}
.jg-text-22 {
  font-size: 22px;
}
.jg-text-23 {
  font-size: 23px;
}
.jg-text-24 {
  font-size: 24px;
}
.jg-text-30 {
  font-size: 30px;
}
.jg-text-32 {
  font-size: 32px;
}
.jg-text-34 {
  font-size: 34px;
}
.jg-border-radius {
  border-radius: 18px;
  box-shadow: 0 0 0 18px #EEEEEE;
}
.jg-border-radius-2 {
  border-radius: 18px;
  box-shadow: 0 0 0 0px #EEEEEE;
}
